{% extends 'base.html' %}

{% block header %}
    <!-- {% if tx_type=='fe' %}
        {% block title %}Fair Exchange{% endblock %}
    {% elif tx_type=='coinswap' %}
        {% block title %}CoinSwap{% endblock %}
    {% elif tx_type=='coinjoin' %}
        {% block title %}CoinJoin{% endblock %}
    {% elif tx_type=='sa' %}
        {% block title %}Stealth Address{% endblock %}
    {% endif %} -->
    {% block title %}{{ tx_type }}{% endblock %}
{% endblock %}

{% block content %}
<p>This is type {{ tx_type }}.</p>
{% endblock %}
