{% extends 'base.html' %} {% block header %}

<h1 class="ui header">
  {% block title %} {{ tx_type }} {% endblock %}<i class="list icon"></i>
</h1>

<script src="{{ url_for('static', filename='js/axios.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
{% endblock %} {% block content %}
<div id="table"></div>
<div id="like_button_container"></div>
<script
  src="https://unpkg.com/react@17/umd/react.development.js"
  crossorigin
></script>
<script
  src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"
  crossorigin
></script>
<script
  src="https://unpkg.com/react-table@7.6.3/dist/react-table.production.min.js"
  crossorigin
></script>

{% include "index.html" %}
<!-- <script type="text/javascript">
$(document).ready(function () {
    $('.ui.modal').modal('show');
});
</script> -->

<!-- <script src="{{ url_for('static', filename='js/like_button.js') }}"></script> -->

{% endblock %}
