<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
{#    <script src="{{ url_for('static', filename = 'dist/echarts.min.js') }}"></script>#}
    <title>Final Year Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="navbar">
        <ul class="navbar-nav">
            <li><a href="javascript:transactions()">Fair Exchange</a></li>
            <li><a href="javascript:multisig()">Multisig</a></li>
            <li><a href="javascript:analysis()">Analysis</a></li>
        </ul>
    </div>

    <div class="main">
        <h1>Bitcoin Mixing Transactions Detection and Tracing</h1>
{#        {{ table }}#}
        <div id="show"></div>
    </div>

    <script type="text/javascript">
        let showText = document.getElementById('show');
        let reqUrl = " ";

         function transactions() {
             reqUrl = "http://127.0.0.1:5000/transactions";
             submit();
         }

         function multisig() {
             reqUrl = "http://127.0.0.1:5000/multisig";
             submit();
         }

         function analysis() {
             reqUrl = "http://127.0.0.1:5000/analysis";
             submit_pie();
         }

         function submit() {
             console.log($("#txt").val());
             let data = $("#txt").val();
             $.ajax({
                 url: reqUrl,
                 dataType: "text",
                 async: true,
                 data: {
                     "text": data
                 },
                 type: "GET",
                 success: function (req) {
                     console.log('success', req);
                     showTextDiv(req);
                 },
                 error: function() {
                     alert('Error!');
                 }
             });
         }

         function submit_pie() {
             console.log($('#txt').val());
             let data = $("#txt").val();
             $.ajax({
                 url: reqUrl,
                 dataType: "json",
                 async: true,
                 data: {
                     "text": data
                 },
                 type: "GET",
                 success: function (req) {
                     console.log('success', req);
                     console.log('generating pie chart');
                     generate_pie(req);
                 },
                 error: function() {
                     alert('Error!');
                 }
             });
         }

         function showTextDiv(data) {
             showText.innerHTML = data;
         }

        let chart;
        function generate_pie(dat) {
            if (chart != null && chart !== "" && chart !== undefined) {
                chart.dispose();
            }

            var arr = [{value: dat["transactions"], name: "transaction"}, {value: dat["multisig"], name: "multisig"}];
            chart = echarts.init(document.getElementById('show'));
            console.log("Here" + arr);
            chart.setOption({
                series:
                    [{
                        type: 'pie',
                        name: 'multisig',
                        radius: '65%',
                        selectedMode: 'Single',
                        // Data is an array. Each array item must have name and value property.
                        data: arr,

                        temStyle: {
                            normal: {
                                shadowBlur: 200,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }],
            });
            window.onresize = chart.resize;
        }

    </script>
</body>
</html>