<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename = "images/favicon.jpeg") }}" />
    <title>404 not found</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/error_style.css') }}"/>
</head>

<body>

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <div></div>
            <h1>404</h1>
        </div>
        <h2>页面不存在</h2>
        <p>您正在寻找的页面可能已被删除，其名称已更改或暂时不可用。</p>
        <a href="http://127.0.0.1:5000">返回主页</a>
    </div>
</div>

</body>

</html>
